@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 600px) {
  body {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: silver;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: #9098c6;
}
